<!-- Footer -->
		<section id="footer" class="wrapper style3">
			<div class="title">Patrons</div>
			<center>
			<div class="container">
				<header class="style1 sponsor">
					<div class="row sponsor">
						
						<center>
						<div class="col-12-small col-3" >
							<center>
								<div class="nt-spon-title" style="text-align: center; margin: auto; width: 60%; padding: 10px;">Platinum Sponsors</div>
							</center>
							<!-- <br>
								<div class="off-1h-small col-12 col-9-small">
									<span class="valign-img"></span><a href="https://www.iiitb.ac.in/machine-intelligence-robotics-coe-minro" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/MINROLogo.png" class="img-fluid" style="max-height: 100px;"></a>
								</div>

								<div class="off-1h-small col-12 col-9-small">
									<span class="valign-img"></span><a href="https://amazon.com/" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/amazon_logo-r.png" class="img-fluid" style="max-height: 100px; width: 200px;"></a>
							
									<span class="valign-img"></span><a href="https://amazon.com/" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/amazon_alexa_2022-1.png" class="img-fluid" style="max-height: 100px;width: 250px;"></a>
								</div> -->
						</div>
						</center>



						<!-- <center>
						<div class="col-12-small col-3">
							<center>
							<div class="nt-spon-title" style="text-align: center; margin: auto; width: 60%; padding: 10px;">Bronze Sponsor</div></center>
							<br>

							<div class="off-1h-small col-12 col-9-small">
									<span class="valign-img"></span><a href="https://www.gojek.io/" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/MINROLogo.png" class="img-fluid" style="max-height: 100px; width: 160px;"></a>
							
							</div>
							<div class="off-1h-small col-12 col-9-small">
									<span class="valign-img"></span><a href="https://www.bosch.com/" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/amazon_logo-r.png" class="img-fluid" style="max-height: 100px; width: 160px;"></a>
							
									<span class="valign-img"></span><a href="https://www.riverpublishers.com/" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/amazon_alexa_2022-1.png" class="img-fluid" style="max-height: 100px;width: 160px;"></a>
							</div>
						</div>
					</center> -->

						<center>
						<div class="col-12-small col-3">
							<center>
								<div class="nt-spon-title" style="text-align: center; margin: auto; width: 100%; padding: 10px;">Silver Sponsors</div>
							</center>
							<!-- <br> -->

							<!-- <div class="off-1h-small col-12 col-9-small">
								<span class="valign-img"></span><img src="{{ site.baseurl }}/images/sponsor/small/placeholder.png" class="img-fluid" style="max-height: 100px;width: 50px;"> -->
									<!-- <span class="valign-img"></span><a href="https://www.intuit.com/in/careers/" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/intuit-logo-super-blue-latest.png" class="img-fluid" style="max-height: 100px;width: 140px;"></a><br>
									<span class="valign-img"></span><a href="https://razorpay.com/" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/orig/rajorpay.png" class="img-fluid" style="max-height: 120px;width: 190px;"></a> -->
									<!-- <span class="valign-img"></span><img src="{{ site.baseurl }}/images/sponsor/small/placeholder.png" class="img-fluid" style="max-height: 100px;width: 50px;">
							</div>							 -->
						</div>
						</center>

			
						
						<!--
						<div class="col-12-small col-4">
							<div class="nt-spon-title">Silver Sponsors</div>
							<div class="row">
								<div class="col-9">
									<center>To be Updated soon</center>
									<span class="valign-img"></span>
										<!--<a href="https://amazon.com/" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/amazon_logo-r.png" class="img-fluid" style="max-height: 120px;"></a>
								</div>
								<!--<div class="col-3 nopad">
									<span class="valign-img"></span><a href="http://ramkumarfoundation.org/" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/prkmf204-r.png" class="img-fluid" style="max-height: 120px;"></a>
								</div>
								<div class="col-6 nopad">
									<span class="valign-img"></span><a href="http://huawei.com/" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/huawei-r.png" class="img-fluid" style="max-height: 120px;"></a>
								</div>
							</div>
						</div>-->

						<center>
						<div class="col-12-small col-2">
							<center>
								<div class="nt-spon-title" style="text-align: center; margin: auto; width: 60%; padding: 10px;">Bronze Sponsors</div>
							</center>
							<br>

							<!-- <div class="off-1h-small col-12 col-9-small">
									<span class="valign-img"></span><a href="https://www.gojek.io/" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/gojek_black.png" class="img-fluid" style="max-height: 100px; width: 158px;"></a>
							
									<span class="valign-img"></span><a href="https://www.honeywell.com/us/en" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/Honeywell_Logo_RGB_Blk.png" class="img-fluid" style="max-height: 100px;width: 180px;"></a>
							</div>
							<div class="off-1h-small col-12 col-9-small">
									<span class="valign-img"></span><a href="https://www.bosch.com/" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/Bosch_symbol_logo_black_red.png" class="img-fluid" style="max-height: 100px; width: 170px;"></a>
								<span class="valign-img"></span><a href="https://www.meesho.com/" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/Meesho-2.png" class="img-fluid" style="max-height: 80px; width: 170px;"></a>
							
									
							</div>
							<div class="off-1h-small col-12 col-9-small">
								<span class="valign-img"></span><a href="https://www.riverpublishers.com/" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/River Publishers_logo.png" class="img-fluid" style="max-height: 100px;width: 176px ; padding-top: 10px;"></a>
									
									
							</div> -->


							<!-- <div class="row">
								<div class="off-1h-small col-12 col-9-small">
									<span class="valign-img"></span><a href="https://www.gojek.io/" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/gojek_black.png" class="img-fluid" style="max-height: 100px;  width: 180px;"></a>
								</div>

								<div class="off-1h-small col-12 col-9-small">
									<span class="valign-img"></span><a href="https://www.honeywell.com/us/en" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/Honeywell_Logo_RGB_Blk.png" class="img-fluid" style="max-height: 100px; width: 180px;"></a>
								</div>
							</div>
							<div class="off-1h-small col-12 col-9-small">
									<span class="valign-img"></span><a href="https://www.honeywell.com/us/en" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/River Publishers_logo.png" class="img-fluid" style="max-height: 100px; width: 180px;"></a>
								</div>
							</div> -->
							
						</div>
						</center>

						<center>
							<div class="col-12-small col-2">
								<center>
									<div class="nt-spon-title" style="text-align: center; margin: auto; width: 80%; padding: 10px;">Travel Grants Partner</div>
								</center>
								<br>
	
								<div class="off-1h-small col-12 col-9-small">
										<span class="valign-img"></span><a href="https://sigai.acm.org/main/" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/orig/acm_sigai_logo.jpg" class="img-fluid" style="max-height: 180px; width: 180px;"></a>
								
										<!-- <span class="valign-img"></span><a href="https://www.honeywell.com/us/en" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/Honeywell_Logo_RGB_Blk.png" class="img-fluid" style="max-height: 100px;width: 180px;"></a> -->
								</div>
								<!-- <div class="off-1h-small col-12 col-9-small">
										<span class="valign-img"></span><a href="https://www.bosch.com/" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/Bosch_symbol_logo_black_red.png" class="img-fluid" style="max-height: 100px; width: 170px;"></a>
									<span class="valign-img"></span><a href="https://www.meesho.com/" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/Meesho-2.png" class="img-fluid" style="max-height: 80px; width: 170px;"></a>
								
										
								</div>
								<div class="off-1h-small col-12 col-9-small">
									<span class="valign-img"></span><a href="https://www.riverpublishers.com/" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/River Publishers_logo.png" class="img-fluid" style="max-height: 100px;width: 176px ; padding-top: 10px;"></a>
										
										
								</div> -->
	
	
								<!-- <div class="row">
									<div class="off-1h-small col-12 col-9-small">
										<span class="valign-img"></span><a href="https://www.gojek.io/" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/gojek_black.png" class="img-fluid" style="max-height: 100px;  width: 180px;"></a>
									</div>
	
									<div class="off-1h-small col-12 col-9-small">
										<span class="valign-img"></span><a href="https://www.honeywell.com/us/en" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/Honeywell_Logo_RGB_Blk.png" class="img-fluid" style="max-height: 100px; width: 180px;"></a>
									</div>
								</div>
								<div class="off-1h-small col-12 col-9-small">
										<span class="valign-img"></span><a href="https://www.honeywell.com/us/en" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/River Publishers_logo.png" class="img-fluid" style="max-height: 100px; width: 180px;"></a>
									</div>
								</div> -->
								
							</div>
							</center>

						<!-- <center>
						<div class="col-12-small col-4">
							<center>
							<div class="nt-spon-title" style="text-align: center; margin: auto; width: 100%; padding: 10px;">Bronze Sponsor</div></center>
							<br>
							<div class="row">
								<div class="off-1h-small col-12 col-9-small">
									<span class="valign-img"></span>
									<img src="{{ site.baseurl }}/images/sponsor/small/placeholder.png" class="img-fluid" style="max-height: 80px; max-width: 60px;"></a>
								</div>
								<div class="off-1h-small col-12 col-9-small">
									<span class="valign-img"></span>
									<a href="https://www.gojek.io/" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/gojek_black.png" class="img-fluid" style="max-height: 100px; height: :100px; width:160px"></a>
								</div>

								<div class="off-1h-small col-12 col-9-small">
									<span class="valign-img"></span>
									<a href="https://www.honeywell.com/us/en" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/Honeywell_Logo_RGB_Blk.png" class="img-fluid" style="max-height: 100px;"></a>
								</div>
							</div>
						</div>
						</div>
						</center> -->
						<!--
						<div class="col-12-small col-3">
							<div class="nt-spon-title">Technical Partner</div>
							<div class="row">
								<div class="off-1h-small col-12 col-9-small">
									To be updated soon
									<!-- <a href="https://tsdsi.in/" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/tsdsi-r.png" class="img-fluid" style="max-height: 120px;"></a>
								</div>
							</div>
						</div>
						
					</div>

				</header>

				<style type="text/css">
					.tg  {border:none;border-collapse:collapse;border-spacing:0;margin:0px auto;}
					.tg td{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;
					  padding:10px 5px;word-break:normal;}
					.tg th{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;
					  overflow:hidden;padding:10px 5px;word-break:normal;}
					.tg .tg-3z1b{border-color:#000000;text-align:right;vertical-align:top}
					.tg .tg-wp8o{border-color:#000000;text-align:center;vertical-align:top}
					.tg .tg-73oq{border-color:#000000;text-align:left;vertical-align:top}
				</style>
				<table class="tg">
				<thead>
				  <tr>
				    <th class="tg-wp8o" colspan="2"><div class="nt-spon-title" style="text-align: center; margin: auto; width: 30%; ">Platinum Sponsor</div></th>
				  </tr>
				</thead>
				<tbody>
				  <tr>
				    <td class="tg-wp8o" colspan="2"><a href="https://www.iiitb.ac.in/machine-intelligence-robotics-coe-minro" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/MINROLogo.png" style="max-height: 120px; text-align: center; margin: auto; "></a></td>
				  </tr>
				  <tr>
				    <td class="tg-3z1b"><a href="https://amazon.com/" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/amazon_logo-r.png" style="max-height: 120px; text-align: center; margin: auto; width: 30%;"></a></td>
				    <td class="tg-73oq"><a href="https://developer.amazon.com/en-US/alexa" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/amazon_alexa_2022.png" style="max-height: 120px; text-align: center; margin: auto; width: 30%;"></td>
				  </tr>
				</tbody>
				</table>
				<table class="tg">
				<thead>
				  <tr>
				    <th class="tg-wp8o" colspan="2"><div class="nt-spon-title" style="text-align: center; margin: auto; width: 10%; ">Bronze Sponsor</div></th>
				  </tr>
				</thead>
				<tbody>
				  <tr>
				    <td class="tg-wp8o" colspan="2"><a href="https://www.iiitb.ac.in/machine-intelligence-robotics-coe-minro" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/gojek_black.png" style="max-height: 120px; text-align: center; margin: auto; "></a></td>
				  </tr>
				</tbody>
				</table>
				<div class="row" style="text-align: center;">
					<div class="col-12">
						<div class="worldflagcounter">Visitor</div>
						<!--<a href="https://worldflagcounter.com/details/hGl" target="_blank"><img class="img-fluid" src="https://worldflagcounter.com/hGl/?{{ site.time | date: "%s" }}" alt="Flag Counter"></a>
						
						<a href="https://worldflagcounter.com/details/h61" target="_blank"><img class="img-fluid" src="https://worldflagcounter.com/h61/?{{ site.time | date: "%s" }}" alt="Flag Counter"></a>
						<!--
						<a href="https://worldflagcounter.com/details/h6Z" target="_blank"><img class="img-fluid" src="https://worldflagcounter.com/h6Z/?{{ site.time | date: "%s" }}" alt="Flag Counter"></a>
						-->
					</div>
				</div>
			</center>
				
				<ul class="copyright">
					<li>Last updated: {{ site.time | date: "%A, %e-%b-%Y" }}</li>
					<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					<li>Logo: <a href="https://www.squarespace.com/logo">Squarespace</a></li>
				</ul>

			</div>
		</section>
<script src="{{ site.baseurl }}/assets/js/countdown.js"></script>
