<section id="header" class="wrapper">
		
			<!-- Logo -->
			<div id="logo">	
				
				<!--
				<div>
				<a href=# target="_blank"><img src="{{ site.baseurl }}/images/head_img/aiml_white.png" class="img-fluid" width="500"></a>
				</div> 
				-->
				<img src="{{ site.baseurl }}/images/aiml_white.png" class="img-fluid" style="max-height: 140px;">
				<h1><a href="{{ site.baseurl }}/index">Third International Conference on AI-ML Systems</a></h1>
				<!--<h4>Hybrid, Bangalore, India</h4>-->
				<!--<h4>Chancery Pavilion Hotel, Residency Road, Bangalore, India</h4>-->
				<h3>BANGALORE, INDIA</h3>
				<h3>25-28 OCTOBER 2023</h3>
				<h4>An Initiative of the <a href="http://comsnets-association.org/" target="_blank">COMSNETS Association</a></h4>
				<!--<div class="row incoop-row">
					<div class="off-3 off-0-medium col-6 col-12-medium">
						<div>In-Cooperation With</div>
						<img src="{{ site.baseurl }}/images/head_img/incoop-t-2022.png" class="img-fluid" usemap="#incoopmap">
						<div>Technical Co-Sponsership</div>
						<img src="{{ site.baseurl }}/images/head_img/CIS_logo.png" class="img-fluid" usemap="#incoopmap">
						<map name="incoopmap">
							<area shape="rect" coords="47,0,255,64" alt="ACM" href="https://www.acm.org/" target="_blank">
							<area shape="rect" coords="16,66,78,199" alt="SIGAI" href="https://sigai.acm.org/" target="_blank">
							<area shape="rect" coords="79,66,152,199" alt="SIGKDD" href="https://www.kdd.org/" target="_blank">
							<area shape="rect" coords="160,66,292,199" alt="SIGMOD" href="https://sigmod.org/" target="_blank">
							<area shape="rect" coords="290,29,447,87" alt="MEITY" href="http://meity.gov.in/" target="_blank">
						</map>
					</div>
					
					<div class="off-3 off-0-medium col-6 col-12-medium">
						<div>Technical Co-Sponsership</div>
						<img src="{{ site.baseurl }}/images/head_img/CIS_logo.png" class="img-fluid" usemap="#incoopmap">
						<map name="incoopmap">
							<area shape="rect" coords="47,0,255,64" alt="ACM" href="https://www.acm.org/" target="_blank">
							<area shape="rect" coords="16,66,78,199" alt="SIGAI" href="https://sigai.acm.org/" target="_blank">
							<area shape="rect" coords="79,66,152,199" alt="SIGKDD" href="https://www.kdd.org/" target="_blank">
							<area shape="rect" coords="160,66,292,199" alt="SIGMOD" href="https://sigmod.org/" target="_blank">
							<area shape="rect" coords="290,29,447,87" alt="MEITY" href="http://meity.gov.in/" target="_blank">
						</map>
					</div> -->
					<!-- <center>
					<div class="bd-callout bd-callout-info" style="width:30%; background-color: lightgrey; padding: 0px;">
					AI-ML SYSTEMS 2022 is going to resume In-person mode
					</div></center> -->
					<map name="incoopmap">
							<area shape="rect" coords="47,0,255,64" alt="ACM" href="https://www.acm.org/" target="_blank">
							<area shape="rect" coords="16,66,78,199" alt="SIGAI" href="https://sigai.acm.org/" target="_blank">
							<area shape="rect" coords="79,66,152,199" alt="SIGKDD" href="https://www.kdd.org/" target="_blank">
							<area shape="rect" coords="160,66,292,199" alt="SIGMOD" href="https://sigmod.org/" target="_blank">
							<area shape="rect" coords="290,29,447,87" alt="MEITY" href="http://meity.gov.in/" target="_blank">
						</map>
					<map name="incoopmap1">
							<area shape="rect" coords="87,0,255,64" alt="CIS" href="https://cis.ieee.org/" target="_blank">
						</map>
						<map name="incoopmap2">
							<area shape="rect" coords="87,0,255,64" alt="CIS" href="http://meity.gov.in/" target="_blank">
						</map>
					<center>
					<table style="width:50%; padding:0px;">
						<tr>
					        <td><center><h4 style="color: white; text-transform: none; text-size-adjust: auto;">In-Cooperation With</h4></center></td>
					        <td><center><h4 style="color: white; text-transform: none; text-size-adjust: auto;">Technical Co-Sponsorship</h4></center></td>
					    </tr>
					    <!-- <tr> TODO: UNCOMMENT LATER
					        <td><center><img src="{{ site.baseurl }}/images/head_img/incoop-t-2022.png" usemap="#incoopmap" style="max-width:100%; height:auto"></center></td>
					        <td><center><img src="{{ site.baseurl }}/images/head_img/CIS_logo.png "  usemap="#incoopmap1" style="max-width:100%; height:auto"></center></td>
					        <td><center><img src="{{ site.baseurl }}/images/head_img/meity-2022.png "  usemap="#incoopmap2" style="max-width:100%; height:auto"></center></td>
					    </tr> -->
					</table>
					</center>
				<!--<div class="row">
					<div class="off-4h off-3-medium col-1 col-2-medium">
						<a href="https://www.facebook.com/aimlsystems" target="_blank" class="fa fa-facebook"></a>
					</div><div class="col-1 col-2-medium">
						<a href="https://twitter.com/aimlsystems" target="_blank" class="fa fa-twitter"></a>
					</div><div class="col-1 col-2-medium">
						<a href="https://www.linkedin.com/company/aimlsystems/" target="_blank" class="fa fa-linkedin"></a>
					</div>
				</div>-->
				
				<!--<div class=row>
					<div class="off-3 off-3-medium col-6 col-6-medium showcountdowncls">
						<h4 style="text-size-adjust: auto; ">AI-ML Systems 2022 is live now</h4>
						<h2 id="showcountdown"></h2>-->
						<!--<div data-type="countdown" data-id="3007943" class="tickcounter" style="width: 100%; height:50% position: relative; padding-bottom: 25%">
							<a href="//www.tickcounter.com/countdown/3007943/aiml-systems-2022-starts-in" title="AIML Systems 2022 starts in">AIML Systems 2022 starts in</a>
							<a href="//www.tickcounter.com/" title="Countdown">Countdown</a>
						</div>
						<script>(function(d, s, id) { var js, pjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//www.tickcounter.com/static/js/loader.js"; pjs.parentNode.insertBefore(js, pjs); }(document, "script", "tickcounter-sdk"));</script>
						-->
						<!--<iframe src="https://free.timeanddate.com/countdown/i7va4szr/n1884/cf12/cm0/cu4/ct0/cs0/ca0/co0/cr0/ss0/cacfff/cpcfff/pct/tcfff/fs100/szw320/szh135/iso2021-10-21T00:00:00" allowtransparency="true" frameborder="0" height="30" style="width: 100%;"></iframe>
						-->
						<!--<iframe src="https://free.timeanddate.com/countdown/i7va4szr/n1884/cf12/cm0/cu4/ct0/cs0/cacfff/co0/cr0/ss0/cac000/cpcfff/pct/tcfff/fs100/iso2022-10-12T00:00:00" allowtransparency="true" frameborder="0" width="115" height="28"></iframe>
						-->
						<!--<iframe src="https://free.timeanddate.com/countdown/i85tiwju/cf100/cm0/cu4/ct0/cs0/ca0/co0/cr0/ss0/cacfff/cpc000/pct/tcfff/fs100/szw320/szh135/iso2022-10-12T00:00:00" allowtransparency="true" frameborder="0" width="320" height="135" ></iframe>
						-->
						<!--<iframe src="https://free.timeanddate.com/countdown/i85tiwju/cf12/cm0/cu4/ct0/cs0/cacfff/co0/cr0/ss0/cacfff/cpc000/pct/tcfff/fs225/szw256/szh108/iso2022-10-12T00:00:00" allowtransparency="true" frameborder="0" width="217" height="52" style="max-width: 100%;padding: 0px;"></iframe>	
						-->

						<!--<script src="https://cdn.logwork.com/widget/countdown.js"></script>
<a href="https://logwork.com/countdown-syog" class="countdown-timer" data-timezone="Asia/Kolkata" data-date="2022-10-12 08:00" data-digitscolor="#ffffff" data-unitscolor="#ffffff">AIML Systems 2022 starts in</a>
					</div>
				</div>-->
				<!-- <div class="row">
					<div class="col-3 col-12-medium"></div>
					<div class="col-6 col-12-medium">
						<div class="row">
							<div class="col-12">
								<small>In-Cooperation With</small><br>
							</div>
							<div class="col-3 col-12-medium">
								<span class="valign-img"></span>
								<a href="http://meity.gov.in/" target="_blank"><img src="{{ site.baseurl }}/images/head_img/meity.png" class="img-fluid"></a>
							</div>
							<div class="col-4 col-12-medium">
								<span class="valign-img"></span>
								<a href="https://www.acm.org/" target="_blank"><img src="{{ site.baseurl }}/images/head_img/acm.gif" class="img-fluid"></a>
							</div>
							<div class="col-2 col-5-medium">
								<span class="valign-img"></span>
								<a href="https://www.kdd.org/" target="_blank"><img src="{{ site.baseurl }}/images/head_img/sigkdd.png" class="img-fluid"></a>
							</div>
							<div class="col-3 col-7-medium">
								<span class="valign-img"></span>
								<a href="https://sigmod.org/" target="_blank"><img src="{{ site.baseurl }}/images/head_img/sigmod.png" class="img-fluid"></a>
							</div>
						</div>
					</div>
				</div> -->
				<style type="text/css">
				.tg  {border:none;border-collapse:collapse;border-spacing:0;margin:0px auto;}
				.tg td{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:10px;overflow:hidden;
				  padding:0px 0px;word-break:normal;}
				.tg th{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:10px;font-weight:normal;
				  overflow:hidden;padding:0px 0px;word-break:normal;}
				.tg .tg-wp8o{border-color:#000000;text-align:center;vertical-align:top}
				</style>
				<center>
				<table class="tg" style="width:20%; padding:0px; height:10%">
				<thead>
				  <tr>
				    <td class="tg-wp8o"><a href="https://www.facebook.com/aimlsystems" target="_blank" class="fa fa-facebook" style="width:20px; max-width:100%"></a></td>
				    <td class="tg-wp8o"><a href="https://twitter.com/aimlsystems" target="_blank" class="fa fa-twitter"></a></td>
				    <td class="tg-wp8o"><a href="https://www.linkedin.com/company/aimlsystems/" target="_blank" class="fa fa-linkedin"></a></td>
				  </tr>
				</thead>
				</table>
				</center>
				<br>
				<br>
			<a id="maintitle1"></a>
			</div>
			<!-- Nav -->
			<br>
			<nav id="nav">
				<ul>
					<li class="current" style="white-space: nowrap;"><a href="{{ site.baseurl }}/">Home</a></li>

					<li style="user-select: none; cursor: pointer; white-space: nowrap; opacity: 1;" class="opener">
						<a href="#"  class="oval">Accepted Papers<span class="caret"></span></a>
						<!-- <ul style="user-select: none; position: absolute; z-index: 1000; left: 325.8px; top: 51.3333px; opacity: 1; display: none;" class="dropotron level-0 center">
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/accepted_papers">Research Track</a></li>
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/industry_track">Industry Track</a></li>
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/accepted_doc_symp">Doctoral Symposium</a></li> -->
							<!--<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/tutorials">Tutorials</a></li>
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/awards">Awards</a></li>-->
						<!-- </ul> -->
					</li>

					<li style="user-select: none; cursor: pointer; white-space: nowrap; opacity: 1;" class="opener">
						<a href="#">Committees<span class="caret"></span></a>
						<ul style="user-select: none; position: absolute; z-index: 1000; left: 325.8px; top: 51.3333px; opacity: 1; display: none;" class="dropotron level-0 center">
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/committeeOrg">Organizing Committee</a></li>
							<!-- <li style="white-space: nowrap;"><a href="{{ site.baseurl }}/committeePro">Program Committee Research Track</a></li>
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/committeePro_Industry">Program Committee Industry Track</a></li>
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/committeePro_Demo">Program Committee Demo</a></li>
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/volunteers">Volunteers</a></li> -->
						</ul>
					</li>

					<!-- <li style="user-select: none; cursor: pointer; white-space: nowrap; opacity: 1;" class="opener">
						<a href="#">Call for Papers<span class="caret"></span></a>
						<ul style="user-select: none; position: absolute; z-index: 1000; left: 325.8px; top: 51.3333px; opacity: 1; display: none;" class="dropotron level-0 center">
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/callResearch">Call For Research Papers</a></li>
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/callIndustry">Call For Industry Track</a></li>
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/callDemo">Call For Demos</a></li>
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/callSymposium">Call For Doctoral Symposium</a></li>
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/callTutorials">Call For Tutorials</a></li>
						</ul>
					</li> -->
					<li style="white-space: nowrap;"><a href="#">Call for Papers<span class="caret"></span></a>
								<!-- <ul style="user-select: none; position: absolute; z-index: 1000; left: 325.8px; top: 51.3333px; opacity: 1; display: none;" class="dropotron level-0 center">
									<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/callResearch">Call For Research Papers</a></li>
									<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/callIndustry">Call For Industry Track</a></li>
									<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/callDemo">Call For Demos</a></li>
									<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/callSymposium">Call For Doctoral Symposium</a></li>
									<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/callTutorials">Call For Tutorials</a></li>
								</ul> -->
							</li>

					<li style="user-select: none; cursor: pointer; white-space: nowrap; opacity: 1;" class="opener">
						<a href="#" class="oval">Conference Program<span class="caret"></span></a>
						<!-- <ul style="user-select: none; position: absolute; z-index: 1000; left: 325.8px; top: 51.3333px; opacity: 1; display: none;" class="dropotron level-0 center">
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/keynote_details">Keynote Speakers</a></li>
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/industryInvitedTalks">Industry Invited Speakers</a></li>
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/researchinvitedTalks">Research Invited Speakers</a></li>
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/panel">Panels</a></li>
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/demo">Demonstrations</a></li>
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/doctoral_symposium">Doctoral Symposium</a></li>
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/accepted_tutorial_list">Tutorials</a>
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/awards">Awards</a></li>
						</ul> -->
					</li>

					
					<!--<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/awards">Awards</a></li>-->
					<!-- <li style="white-space: nowrap;"><a href="{{ site.baseurl }}/registration" class="text-attention">Registration</a></li> TODO: UNCOMMENT LATER -->
					<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/" class="text-attention">Registration</a></li>
					<!-- <li style="white-space: nowrap;"><a href="{{ site.baseurl }}/participation">Participation</a></li> -->

				<!-- 	<li style="user-select: none; cursor: pointer; white-space: nowrap; opacity: 1;" class="opener">
						<a href="#">Venue<span class="caret"></span></a>
						<ul style="user-select: none; position: absolute; z-index: 1000; left: 325.8px; top: 51.3333px; opacity: 1; display: none;" class="dropotron level-0 center">
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/venue">Venue</a></li>
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/visitingBangalore">Visiting Bangalore</a></li>
						</ul>
					</li> -->

					<!-- <li style="white-space: nowrap;" class="oval-menu" ><a href="{{ site.baseurl }}/schedule">Schedule</a></li> TODO: UNCOMMENT LATER --> 
					<li style="white-space: nowrap;" class="oval-menu" ><a href="{{ site.baseurl }}/">Schedule</a></li>
					<li style="user-select: none; cursor: pointer; white-space: nowrap; opacity: 1;" class="opener">
						<a href="#" >Attending<span class="caret"></span></a>
						<!-- <ul style="user-select: none; position: absolute; z-index: 1000; left: 325.8px; top: 51.3333px; opacity: 1; display: none;" class="dropotron level-0 center">
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/callParticipation" >Call For Participation</a></li>
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/participation">Physical Participation Guidelines</a></li>
							<li style="user-select: none; cursor: pointer; white-space: nowrap; opacity: 1;" class="opener">
								<a href="#" class="text-attention">Virtual<span class="caret"></span></a>
								<ul style="user-select: none; position: absolute; z-index: 1000; left: 325.8px; top: 51.3333px; opacity: 1; display: none;" class="dropotron level-0 center">
								<li style="white-space: nowrap;"><a href="https://www.airmeet.com/e/55c5e8a0-36fe-11ed-91e3-65b2616b6a61" target="_blank">Virtual Conference Site</a></li>
								<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/virtual_attendee">Attendee Instructions</a></li>
								</ul>
							</li>
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/visa">Visa Request</a></li>
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/venue">Conference Venue</a></li>
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/accomodations">Accomodations</a></li>
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/visitingBangalore">Visiting Bangalore</a></li>
						</ul> -->
					</li>

					<!-- <li style="white-space: nowrap;"><a href="{{ site.baseurl }}/sponsorship">Sponsorship</a></li> -->
					<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/">Sponsorship</a></li>
					<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/contact">Contacts</a></li>
					<li style="white-space: nowrap;"><a href="https://comsnets.org/" target="blank">COMSNETS</a></li>
					<li style="user-select: none; cursor: pointer; white-space: nowrap; opacity: 1;" class="opener">
						<a href="#">Previous AI-ML Systems<span class="caret"></span></a>
						<ul style="user-select: none; position: absolute; z-index: 1000; left: 325.8px; top: 51.3333px; opacity: 1; display: none;" class="dropotron level-0 center">
							<li style="white-space: nowrap;"><a href="https://www.aimlsystems.org/2021/" target="blank">2021</a></li>
							<li style="white-space: nowrap;"><a href="https://www.aimlsystems.org/2022/" target="blank">2022</a></li>
						</ul>
					</li>

					<!-- <li style="user-select: none; cursor: pointer; white-space: nowrap; opacity: 1;" class="opener">
						<a href="#" class="text-attention">Virtual<span class="caret"></span></a>
						<ul style="user-select: none; position: absolute; z-index: 1000; left: 325.8px; top: 51.3333px; opacity: 1; display: none;" class="dropotron level-0 center">
							<li style="white-space: nowrap;"><a href="https://www.airmeet.com/">Virtual Conference Site</a></li>
							<li style="white-space: nowrap;"><a href="{{ site.baseurl }}/virtual_attendee">Attendee Instructions</a></li>
						</ul>
					</li> -->
					<br>
                    
                    
					<!-- <center>
				        <div style="white-space: nowrap;" class="oval-photo" ><a href="{{ site.baseurl }}/conference_photos"><h2>AI-ML Systems 2022 Conference Photos</h2></a>
				        </div>
				        <br>
				        <div style="white-space: nowrap;" class="oval-awards" ><a href="{{ site.baseurl }}/awards"><h2>AI-MLSystems 2022 Awards </h2></a>
				        </div>

			        </center> -->
			    
				   
					

			</nav>
		</section>
